@{
    ViewBag.Title = "Komposto";
}

<section id="image-section">
    <div class="row">
        <img src="~/Content/images/tomato-4.jpg" class="img-fluid" />
    </div>
</section>

<section id="composting">
    <div class="container">
        <div class="row">
            <div class="col-6 alignright flyLeft animated fadeInLeftBig">
                <blockquote class="large">
                    Don't waste your waste instead try to make money out of it <cite>Siva Kumar, Komposto</cite>
                </blockquote>
            </div>
            <div class="col-6 aligncenter flyRight animated fadeInRightBig">
                <i class="fa fa-coffee fa-5x"></i>
            </div>
        </div>
    </div>
</section>
